.hidden {
    display: none
}

.createProductButton {
    width: fit-content;
}

.createProduct {
    display: flex;
    flex-direction: column;
}

.createProductForm {
    margin: 25px auto;
    width: 100%;    
}

.formButtons {
    display: flex;
    justify-content: flex-end;
}

.productImage {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px;
}

.productImage:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
