#conter {
    position:absolute;
  top:-15px;
  right:-15px;
  background-color:blue;
  color:#fff;
  padding:5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width:30px;
  height:30px;
  text-align:center;
}

#content div {
    margin-top: 7px;
}